# -------------------------

# Python

# -------------------------

**pycache**/
*.py[cod]
*$py.class

# Compiled extensions

*.so

# -------------------------

# Virtual Environments

# -------------------------

venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# -------------------------

# Environment variables

# -------------------------

.env
.env.*

# -------------------------

# Logs

# -------------------------

logs/
*.log

# -------------------------

# Database

# -------------------------

*.db
*.sqlite3

# -------------------------

# Distribution / packaging

# -------------------------

build/
dist/
*.egg-info/
.eggs/

# -------------------------

# Testing / coverage

# -------------------------

.coverage
.coverage.*
.pytest_cache/
.tox/
.nox/
htmlcov/

# -------------------------

# IDE / Editor

# -------------------------

.vscode/
.idea/

# -------------------------

# Jupyter

# -------------------------

.ipynb_checkpoints

# -------------------------

# Docker

# -------------------------

docker-compose.override.yml

# -------------------------

# OS files

# -------------------------

.DS_Store
Thumbs.db
